.cache/
auto-save-list/
ctags/TAGS-linux
.env
elpa/
eln-cache/
eshell/history
eshell/lastdir
history
ido.last
network-security.data

lisp/init-gnus.el

org-clock-save.el
projectile-bookmarks.eld
projectile.cache
projects
recentf
request/
session.*
tramp
transient/
url/

# backup
openedf
backupf

# Emacs desktop
.emacs.desktop
.emacs.desktop.lock
