auto-save-list/
ctags/TAGS-linux
elpa/
eshell/history
eshell/lastdir
history
ido.last
network-security.data

lisp/init-gnus.el
lisp/init-opt.el
lisp/math

org-clock-save.el
projectile-bookmarks.eld
projectile.cache
projects
recentf
session.*
tramp
transient/
url/
xenops/

# backup
openedf
backupf
